body {
    background-color: #e3e3e3;
}
div {
    margin-left: 30%;
    width: 500px;
    
}
#emphasis {
    margin-left: 0px;
    margin-right: 50px;
    text-align: center;
    border: 2px solid white;
    padding: 30px;
    width: 500px;
}
